<%- include ('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form action="/authenticate" method="post">
                <input class = "form-control" name = "email" type="email" placeholder="Insira o e-mail">
                <br>
                <input class = "form-control" name = "password" type="password" placeholder="Insira a senha">
                <br>
                <button type="submit" class="btn btn-success btn-block">Entrar</button>
            </form>
        </div>

    </div>
</div>

<%-include ('../../partials/footer.ejs')%>