<%- include ('partials/header.ejs') %>

<body>

    <%- include ('partials/navbar.ejs') %>

    <div class="container">

        <br>
        <div class="card">
            <div class="card-header">

                <h1>Faça a sua pergunta</h1>

            </div>

            <div class="card-body">

                <form method="post" action="/salvarpergunta">
                    <hr>
                    <label>Título</label>
                    <input type="text" placeholder="Insira o título da pergunta" class="form-control" name="titulo">
                    <br>
                    <label>Descrição</label>
                    <textarea placeholder="Insira a descrição da pergunta" class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-primary">Perguntar</button>
                </form>

            </div>
        </div>
        
    </div>

</body>

<%- include ('partials/footer.ejs') %>
